<div class="container w-50 p-5 my-5 shadow">

    {{!-- Form --}}
    <form action="/api/book" method="post">
        {{!-- Button --}}
        <div class="row mb-3">
            <a class="btn btn-dark col-auto me-auto" href="/api/book"><i class="fa-solid fa-arrow-left"></i>
                Back</a>
            <code class="mx-auto col-auto">{{notify}}</code>
           
        </div>

        {{!-- Input --}}
        {{> input}}
        <button type="submit" class="btn btn-primary col-auto ms-auto w-100">Add book</button>
    </form>


</div>