<div class="container">


    {{!-- Button --}}
    <div class="row my-4  p-4 my-5 ">
        {{!-- Go to Add --}}
        <div class="col-auto">
            <a class="btn btn-dark" href="/api/book/create"><i class="fa-solid fa-plus"></i> Add book</a>
        </div>

    </div>

    {{!-- Table --}}
    {{> table}}


 

</div>